.disable-confirm {
    pointer-events: none;
    cursor: not-allowed;
    color: gray;
}

.modal-large {
    max-height: 100%;
    height: 80%;
    width: 78%;
}

.modal-small {
    max-height: 100%;
    height: 50%;
}

.modal-small-h30 {
    max-height: 100%;
    height: 30%;
}

.modal-medium {
    max-height: 100%;
    height: 70%;
}

.no-padding {
    padding: 0px;
}